//fonts
$form: Montserrat;
$heroBtn: Roboto; 
$card: Poppins;
$author: Catamaran;

//colors
$black: black;
$black80: rgba(0, 0, 0, 0.8);
$greyishBrown: #505050;
$greyishBrown88: rgba(62, 62, 62, 0.88);
$dusk: #403a5f;
$greyishBrownTwo: #575757;
$dark: #302c42;
$warmGrey: #909090;
$white: #ffffff;
$darkLilac: #8176af;
$white50: rgba(255, 255, 255, 0.5);
$brown: #7E5109;


//newcolors
$violet : #9ca8ff;
$pink : #ff78f6;
$orange : #ff9e96;
$yellow : #ffda77;
$green : #dafe99;


