/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

/* Header */
.header {
  background: #d5cfeb;
  background: linear-gradient(0deg, #9ca8ff 10%, #d5cfeb 100%);
  height: 10vh;
  padding: 20px; 
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  font-size: 25px;
}

.nav___title:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.nav__logo {
  height: 30px;
  width: 30px;
}
.navBtn{
  color: white;
  padding-bottom: 5px;
  font-size: 25px;
  cursor: pointer;
}
.navBtn:hover{
  color: #dafe99;
  transform: scale(1.3);
}
.hamburger{
  display: none;
  list-style: none;
}
.isActive{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  align-items: flex-end;
  width: fit-content;
  background-color: #9ca8ffd3;
  border: 2px white solid;
  border-radius: 15px;
  padding: 20px;
}
.hamburger__li:hover{
  transform: scale(1.1);
}
.link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.link:focus {
  color: #dafe99;
}

.link:hover {
  color: #dafe99;
}

.link:active {
  color: #ffa4b8;
}

/* main */
.main {
  background-color: #9ca8ff;
  min-height: 83vh;
  text-align: center;
  padding: 10px;
}

/* preview list project */
.detail {
  margin: 0 auto;
  height: fit-content;
}
.projectImage {
  object-fit: cover;
  width: 80vw;
  height: 40vh;
  border-radius: 30px;
  padding: 10px;
}
@media (min-width: 768px) {
  .projectImage {
    height: 50vh;
    max-width: 600px;
  }
}
.projectCard {
  transform: translateY(-40px);
  margin: 0 auto;
}

/* card */
.card {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding: 20px;
  margin: 0 auto;
  background-color: #d5cfeb;
  color: #2d2d2d;
  border-radius: 20px;
  border: 1px solid #7b5bc7;
  min-height: 25vh;
  width: 85vw;
}

@media (min-width: 768px) {
  .card {
    max-width: 700px;
    height: 30%;
  }
}

.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.text__title {
  color: #2d2d2d;
  font-family: Poppins;
  font-size: 14px;
  margin-top: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text__slogan {
  color: #575757;
  font-family: Poppins;
  font-size: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.text__desc {
  color: rgba(62, 62, 62, 0.88);
  font-family: Poppins;
  font-size: 8px;
  line-height: 14.1px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 5px;
  text-align: left;
}

.text__technologies {
  color: #2d2d2d;
  font-size: 12px;
}

.text__icons {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.text__icons--link {
  color: #7b5bc7;
  font-size: 18px;
}

@media (min-width: 768px) {
  .text__desc {
    font-size: 12px;
  }

  .text__title {
    font-size: 20px;
  }

  .text__slogan {
    font-size: 16px;
  }

  .text__text {
    font-size: 12px;
  }
}

.profile {
  width: 40%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.profile__image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.profile__job {
  color: #575757;
  font-size: 8px;
  font-family: Poppins;
}

.profile__name {
  font-size: 14px;
  color: #2d2d2d;
  font-family: Poppins;
}

@media (min-width: 768px) {
  .profile__image {
    width: 100px;
    height: 100px;
  }
  .profile__job {
    font-size: 12px;
  }
  .profile__name {
    font-size: 16px;
  }
}
.div{
  height: 100px;
  background-color: green;
}
.linkedin {
  padding: 5px;
  border-radius: 5px;
  background: #0077B5;
  color: white;
}
.linkedin:hover{
  color: #dafe99;
  transform: scale(1.1);
}

/* Footer */
.footer {
  background: #9ca8ff;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  height: 7vh;
}
.footer__copy {
  font-family: Poppins;
  font-size: 12px;
  color: white;
  height: fit-content;
  order: 2;
}
.footer__logo {
  height: 30px;
  width: 30px;
  align-self: center;
  order: 1;
}
