@import '../core/Variables.scss';
.footer {
    background-color: #ff9e96;
    display: flex;
    justify-content: center;
    padding: 20px;
    height: 10vh;
    @media (min-width: 768px) {
      &__logo {
        height: 30px;
        width: 30px;
        justify-content: flex-end;
      }
    }
    &__logo {
      height: 46px;
      width: 126px;
    }
  }
  