@import '../core/Variables.scss';
.header {
    background-color: $violet;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: $white50;
    &__logo {
        height: 46px;
        width: 126px;
        @media (min-width: 768px) {
          height: 43px;
          width: 115px;
        }
      }
}