@import '../core/Variables.scss';
.main {
    background-color: $violet;
    min-height: 90vh;
    text-align: center;
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        @media (min-width: 768px) {
           flex-direction: row;
           gap: 50px;
          }
    }
}