@import '../core/Variables.scss';
.preview {
  height: fit-content;
  @media (min-width: 768px) {
    width: 487.8px;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 307px;

    @media (min-width: 768px) {
      height: 545.7px;
    }
  }
}
.card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 10px;
  width: 90%;
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: $white;
  color: #3e3e3e;
  border-radius: 20px;
  z-index: 1;
  transform: translateY(-40px);
}
.text {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__subtitle {
    font-size: 8px;
    text-align: center;
  }

  &__desc {
    color: $greyishBrown88;
    font-family: $card;
    font-size: 8px;
    line-height: 14.1px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__title {
    color: $black;
    font-family: $card;
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__slogan {
    color: $greyishBrownTwo;
    font-family: $card;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: $greyishBrown;
    font-family: $author;
    font-weight: 600;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  &__icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }
  @media (min-width: 768px) {
    &__subtitle {
      font-size: 10px;
    }

    &__desc {
      font-size: 12px;
    }

    &__title {
      font-size: 24px;
    }

    &__slogan {
      font-size: 16px;
    }

    &__text {
      font-size: 12px;
    }
  }
}
.profile {
  width: 40%;
  text-align: center;

  &__image {
    border-radius: 50%;
    width: 80%;
  }

  &__job {
    color: $warmGrey;
    font-family: $author;
    font-size: 10px;
  }

  &__name {
    font-size: 14px;
    color: $black;
    font-family: $author;
  }

  @media (min-width: 768px) {
    &__job {
      font-size: 14px;
    }

    &__name {
      font-size: 18px;
    }
  }
}
