@import "../core/Variables.scss";

.cardTwo {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 20px;
    background-color: $violettwo;
    color: $greytext;
    border-radius: 20px;
    border: 1px solid $violetborder;
    min-width: 280px;
    max-width: 400px;
  }
  
  .textTwo {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  
    &__name {
      color: $greytext;
      font-family: $card;
      font-size: 14px;
      margin-top: 10px;
      text-align: center;
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  
    &__desc {
      color: $greyishBrown88;
      font-family: $card;
      font-size: 8px;
      line-height: 14.1px;
      word-wrap: break-word;
      overflow-wrap: break-word;
      margin-top: 5px;
      text-align: justify;
    }
  
    &__icons {
      padding-right: 20px;
      display: flex;
      justify-content: flex-end;
      gap: 15px;
  
      &--link {
        color: $violetborder;
        font-size: 18px;
      }
    }
  
    @media (min-width: 768px) {
      &__name {
        font-size: 17px;
      }

      &__desc {
        font-size: 12px;
      }
    }
  }
  
  .profile {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    gap: 15px;
  
    &__figure {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      overflow: hidden;
      &--img{
        width: 100%; 
        object-fit: cover;
      }
    }
    &__job {
      font-size: 13px;
      color: $greytext;
      font-family: $card;
    }

    &__tech {
      color: $greyishBrownTwo;
      font-size: 10px;
      font-family: $card;
    }
  
    @media (min-width: 768px) {
      &__job {
        font-size: 15px;
      }

      &__tech {
        font-size: 12px;
      }
    }
  }
  