@import "../core/Variables.scss";

.contact{
    background-color: $violet;
    min-height: 83vh;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}