@import '../core/Variables.scss';
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    padding: 5px 15px 20px 15px;
    &__input {
      background-color: $violettwo;
      border: solid 2px $violetborder;
      border-radius: 40px;
      height: 42.72px;
      color: $greyishBrown;
      padding-left: 15px;
      width: 100%;
      max-width: 500px;
      &::placeholder {
        color: $white;
        font-size: 14px;
      }
    }
    &__lists{
      display: flex;
      flex-direction: column;
      gap: 10px;
      @media (min-width: 768px){
        flex-direction: row;
      }
    }
    @media (min-width:768px){
      flex-direction: row;
    }
}
.radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  &__label {
    padding: 10px;
    text-align: center;
    color: $white;      
  }
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  color: $violetborder;
  }

.hidden {
  display: none;
}