@import '../core/Variables.scss';
.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: none;
    &__section {
      padding: 10px;
      text-align: center;
      color: $white;      
    }
    &__input {
      background-color: $violettwo;
      border: solid 2px $violetborder;
      border-radius: 40px;
      height: 42.72px;
      color: $greyishBrown;
      padding-left: 15px;
      width: 80%;
      &::placeholder {
        color: $white;
        font-size: 14px;
      }
    }
}