@import '../core/Variables.scss';
@import '../core/Mixins.scss';

.footer {
  background: $violettwo;
  background: linear-gradient(0deg, $violettwo 10%, $violet 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
  height: 7vh;

  &__copy {
    @include headerFooter;
    font-size: 12px;
    color: $white;
    height: fit-content;
    order: 2;
  }
  &__logo {
    height: 30px;
    width: 30px;
    align-self: center;
    order: 1;
  }
}
