@import '../core/Variables.scss';
@import '../core/Mixins.scss';

.uploadLabel{
    display: flex;
    align-items: center;
    font-size: 13.333px;
<<<<<<< HEAD
=======
    display: flex;
    align-items: center;
>>>>>>> dev
    cursor: pointer;
}