@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.header {
  background: $violettwo;
  background: linear-gradient(0deg, $violet 10%, $violettwo 100%);
  height: 10vh;
  padding: 20px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
   font-size: 25px;
  }
  &__title:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  &__logo {
    height: 30px;
    width: 30px;
  }
}


