@import "../core/Variables.scss";
@import "../core/Mixins.scss";

.header {
  background: $violettwo;
  background: linear-gradient(0deg, $violet 10%, $violettwo 100%);
  height: 10vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
   font-size: 25px;
  }
  &__title:hover {
    cursor: pointer;
  }
  &__logo {
    height: 30px;
    width: 30px;
  }
}
.navBtn{
  color: $white;
  padding-bottom: 5px;
  font-size: 25px;
  cursor: pointer;
}
.navBtn:hover{
  color: $green;
  transform: scale(1.3);
}
.hamburger{
  display: none;
  list-style: none;
}
.hamburger.isActive{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: sticky;
  align-items: flex-end;
  // padding-top: 5px;
  // z-index: 1;
  // overflow: visible;
  // background-color: $violet;
  width: fit-content;
  background-color: $violetlight;
  border: 2px white solid;
  border-radius: 15px;
  padding: 20px;
}
.hamburger__li:hover{
  transform: scale(1.1);
}