@import "../core/Variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  padding: 15px;

  &__title {
    font-family: $form;
    color: $white;
    padding: 20px;
  }

  &__text {
    font-family: $card;
    color: $white;
    font-style: italic;
  }
}
