@import "../core/Variables.scss";

.hero {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  &__title {
    font-family: $heroBtn;
    color: $white;
    padding-bottom: 2px;
  }

  &__text {
    font-family: $card;
    color: $white;
    font-weight: bold;
  }
}
