@import '../core/Variables.scss';

landingBtns{
  display: flex;
  flex-direction: column;
  gap: 15px;
  @media (min-width: 768px) {
   flex-direction: row;
   gap: 15px;
   align-items: center;
   justify-content: center;
  }
 }
 .landingCard {
   padding-top: 20px;
   margin: 0 auto;
   max-width: 400px;
 }
