@import "../core/Variables.scss";

.listProject {
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-evenly;
  &__li {
    padding-bottom: 40px;
  }
  &__li:hover {
    transform: scale(1.1);
  }
}

.message {
  color: $violetborder;
  font-size: 16px;
  background-color: $violettwo;
  border: solid 2px $violetborder;
  border-radius: 10px;
  font-family: $form;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  margin-top: 30px;
}
