@import "../core/Variables.scss";

.listProject {
  list-style: none;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-evenly;
  &__li{
    padding-bottom: 40px;
  }
}



