@import "../core/Variables.scss";

.listProject {
  list-style: none;
  padding-top: 20px;
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
}



