@import "../core/Variables.scss";

.previewtwo {
  height: fit-content;

  @media (min-width: 768px) {
    width: 50%;
  }
  &__image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    border-radius: 30px;
    padding: 10px;

    @media (min-width: 768px) {
      height: 300px;
    }
  }
}
