@import "../core/Variables.scss";

.previewtwo {
  &__image {
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius: 30px;
    padding: 10px;
    @media (min-width: 768px) {
      width: 350px;
    }
  }
  &__card{
    transform: translateY(-40px);
    width: 300px;
    height: 150px;
    margin: 0 auto;
    @media (min-width: 768px) {
      width: 350px;
    }
  }
}
