@import '../core/Variables.scss';

.signInTitle {
  font-family: $form;
  color: $white;
}
.signInForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  padding: 20px;
  gap: 10px;
  max-width: 768px;
}

.labelSignIn {
  font-family: $form;
  color: $white;
  padding-top: 10px;
}

.inputSignIn {
  background-color: $violettwo;
  border: solid 2px $violetborder;
  border-radius: 40px;
  height: 42.72px;
  color: $greyishBrown;
  padding-left: 15px;
  width: 100%;
  &::placeholder {
    color: $white;
    font-size: 14px;
  }
}

.btnSignIn {
  align-self: center;
  margin: 20px;
}

.returnMessage{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: $violettwo;
  border: solid 2px $violetborder;
  border-radius: 30px;
  color: $white;
  font-family: $form;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
  &__title{
    font-size: 16px;
    padding: 5px;
  }
  &__link{
    color: $green;
    font-size: 20px;
  }
}
.hidden {
  display: none;
}